# 제어문

## if 문 **

In [4]:
# 기본
if True :
    print("조건문 실행")

조건문 실행

In [7]:
# if구문
money = 123
if money == "돈있어" :
    print("택시타고가")
else:
    print("걸어가")

걸어가

<table style="float: left;">
<thead>
<tr>
<th>비교연산자</th>
<th>설명</th>
</tr>
</thead>
<tbody>
<tr>
<td>x &lt; y</td>
<td>x가 y보다 작다.</td>
</tr>
<tr>
<td>x &gt; y</td>
<td>x가 y보다 크다.</td>
</tr>
<tr>
<td>x == y</td>
<td>x와 y가 같다.</td>
</tr>
<tr>
<td>x != y</td>
<td>x와 y가 같지 않다.</td>
</tr>
<tr>
<td>x &gt;= y</td>
<td>x가 y보다 크거나 같다.</td>
</tr>
<tr>
<td>x &lt;= y</td>
<td>x가 y보다 작거나 같다.</td>
</tr>
</tbody>
</table>

In [8]:
if money != "돈없어":
    print("과자 사먹자")

과자 사먹자

### in, not in

<table style="float: left;">
<thead>
<tr>
<th>in</th>
<th>not in</th>
</tr>
</thead>
<tbody>
<tr>
<td>x in 리스트</td>
<td>x not in 리스트</td>
</tr>
<tr>
<td>x in 튜플</td>
<td>x not in 튜플</td>
</tr>
<tr>
<td>x in 문자열</td>
<td>x not in 문자열</td>
</tr>
</tbody>
</table>

In [22]:
print(1 in [1, 2, 3])
print(1 not in [1, 2, 3])
print("j" not in "python")

True
False
True

In [23]:
pocket = ['paper', 'key', 'money']
if 'money' in pocket: 
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [27]:
pocket = ['paper', 'key', 'money']
print("지금 걸어가기 힘든데...")
if 'money' not in pocket: 
    print("", end="")
else:
    print("돈아끼고")
print("그냥 걸어갈래...")

지금 걸어가기 힘든데...
돈아끼고
그냥 걸어갈래...

In [30]:
# 조건부 표현식 1
age = 19
status = "성인" if age >= 18 else "미성년"
print(status)

# 조건부 표현식 2
temperature = 25
weather = "따뜻함" if temperature > 20 else "추움"
print(weather)

# 조건부 표현식 3
money = 1500
transportation = "버스" if money >= 1000 else "도보"
print(transportation)

성인
따뜻함
버스

In [33]:
# if, elif ~~
pocket = ['paper', 'key']
card = False
if 'money' in pocket:
    print("택시 타라")   
elif card == True:
    print("택시 신나게 타라")
else:
    print("걸어가라")

걸어가라

In [36]:
# if만 사용
pocket = ['paper', 'key']
card = True
if 'money' in pocket:
    print("택시 빨리 타라")   
if card == True:
    print("택시 신나게 타라")
if not ('money' in pocket) and not card == True:
    print("걸어가라")

택시 신나게 타라

### 문제 및 실습

In [12]:
# 문제 1
# 만약 5000원 이상의 돈을 가지고 있으면 택사를 타고가고, 그렇지 않으면 걸어가라. 
money = int(input("얼마나 있나요?"))
if money >= 5000 :
    print("택시를 타고 가라")
else:
    print("걸어가라")

얼마나 있나요? 3000

걸어가라

In [21]:
# 문제2
identify = True # "있다"
stamp = True # "있다"
sign = True # "할수 있다."

print("어서오세요. 외국인 지원금 서류등록소입니다.")
inp1 = "있다" in input("신분증이 있나요?")
inp2 = "있다" in input("도장이 있나요?")
inp3 = "있다" in input("싸인할 수 있나요?")
inp4 = "한국" in input("국적이 어디인가요?")
       # "True" == input("싸인할 수 있나요?")
print(inp1, type(inp1))
print(inp2, type(inp2))
print(inp3, type(inp3))
print(inp4, type(inp4))
if (inp1 and (inp2 or inp3) ) and not inp4 :
    print("업무 진행 가능합니다.")
else : 
    print("자격이 부족합니다.")

어서오세요. 외국인 지원금 서류등록소입니다.

신분증이 있나요? 있다
도장이 있나요? 있다
싸인할 수 있나요? 있다
국적이 어디인가요? 미국

True <class 'bool'>
True <class 'bool'>
True <class 'bool'>
False <class 'bool'>
업무 진행 가능합니다.

In [28]:
# 문제3
who = {"name": "hong", "age": 23, "gender": "male"}

# 나이가 20살 이상이며 성별이 male 일때 군대가기, pass

if who["age"] >= 20 and who["gender"] == "male":
    print("군대가기")
else:
    print("pass")

군대가기

In [31]:
result = "군대가기" if ((who['age'] >= 20) and (who["gender"] == "male")) else ""
print(result)

군대가기

In [37]:
# 응용1 (if, elif..., if if if...)
score = 77

if 100 >= score >= 90 :
    print("A 등급")
if 90 > score >= 80 :
    print("B 등급")
if 80 > score >= 70 : 
    print("C 등급")
if 70 > score >= 60 : 
    print("D 등급")

C 등급

In [39]:
# 응용2 (if, elif...)
score = 77
if 100 >= score >= 90:
    print("A등급")
elif 90 > score >= 80:
    print("B등급")
elif 80 > score >= 70:
    print("C등급")
elif 70> score >= 60:
    print("D등급")

C등급

## while 문 **

In [44]:
check = 0
while check < 10 :
    check = check + 1 # check += 1
    print(f"{check}번째 가즈아~~!!")
    if check == 10:
        print("구조대 탈출!")

1번째 가즈아~~!!
2번째 가즈아~~!!
3번째 가즈아~~!!
4번째 가즈아~~!!
5번째 가즈아~~!!
6번째 가즈아~~!!
7번째 가즈아~~!!
8번째 가즈아~~!!
9번째 가즈아~~!!
10번째 가즈아~~!!
구조대 탈출!

In [45]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [46]:
prompt = """
1. 어쩌구
2. 저쩌구
3. 계속해?
4. 나가자!
"""
num = 0
while num != 4:
    print(prompt)
    # num += 1
    num = int(input("번호를 입력하세요."))

1. 어쩌구
2. 저쩌구
3. 계속해?
4. 나가자!

번호를 입력하세요. 4

In [48]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 줍니다.")
    coffee = coffee - 1
    print("남은 커피의 양은 %d개입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [54]:
# 응용 
import random as ran
n = 0
while n < 10:
    num = ran.randint(1, 6)
    n += 1
    print(f"{n}번째:", num)

1번째: 2
2번째: 2
3번째: 6
4번째: 6
5번째: 6
6번째: 2
7번째: 4
8번째: 6
9번째: 5
10번째: 1

In [71]:
# 응용 (1 ~ 6 주사위)
import random as ran

n = 0
box = []
while n < 100:
    num = ran.randint(1, 6)
    n += 1
    box.append(num)

# 각 눈금별 등장 횟수
c1 = box.count(1)
c2 = box.count(2)
c3 = box.count(3)
c4 = box.count(4)
c5 = box.count(5)
c6 = box.count(6)

print(f"주사위 눈금 1번이 {c1}번 등장하였습니다. ({c1/100*100:0.2f}%)")
print(f"주사위 눈금 2번이 {c2}번 등장하였습니다. ({c2/100*100:0.2f}%)")
print(f"주사위 눈금 3번이 {c3}번 등장하였습니다. ({c3/100*100:0.2f}%)")
print(f"주사위 눈금 4번이 {c4}번 등장하였습니다. ({c4/100*100:0.2f}%)")
print(f"주사위 눈금 5번이 {c5}번 등장하였습니다. ({c5/100*100:0.2f}%)")
print(f"주사위 눈금 6번이 {c6}번 등장하였습니다. ({c6/100*100:0.2f}%)")

주사위 눈금 1번이 23번 등장하였습니다. (23.00%)
주사위 눈금 2번이 20번 등장하였습니다. (20.00%)
주사위 눈금 3번이 15번 등장하였습니다. (15.00%)
주사위 눈금 4번이 14번 등장하였습니다. (14.00%)
주사위 눈금 5번이 15번 등장하였습니다. (15.00%)
주사위 눈금 6번이 13번 등장하였습니다. (13.00%)

In [4]:
# random으로 스토리 생성기 만들기

import random as ran
ran.seed(7)
characters = ["용감한 기사", "모험심 넘치는 고양이", "호기심 많은 로봇", "신나게 출근한 신영이", "서투른 마법사", "명석한 탐정", "즐거운 선생님"]
places = ["어두운 숲에서", "먼 우주 행성에서", "마법의 성에서", "엄중한 교실에서", "바닷속 도시에서", "귀신이 나오는 흉가에서", "이성과 엘베안에서"]
events = ["숨겨진 보물을 발견했다", "무시무시한 용과 싸웠다", "비밀 통로를 발견했다", "고대의 미스터리를 풀었다", "왕국을 위험에서 구하였다", "결혼날짜를 잡았다"]

ch = ran.choice(characters)
pl = ran.choice(places)
ev = ran.choice(events)
ch2 = ran.choice(characters)
pl2 = ran.choice(places)
ev2 = ran.choice(events)

print("어느 날, %s는 %s 모험을 떠나 %s 그리고 %s는 %s %s" %(ch,pl,ev,ch2,pl2,ev2))

어느 날, 호기심 많은 로봇는 먼 우주 행성에서 모험을 떠나 고대의 미스터리를 풀었다 그리고 명석한 탐정는 어두운 숲에서 숨겨진 보물을 발견했다

In [5]:
import random as ran
ran.seed(13)
test = [11, 22, 33, 44, 55]
print(ran.choice(test))

33

In [70]:
import random as ran
n = 0
box = []
cc = int(input("몇회 주사위를 던질까요?") or 100)
while n < cc:
    num = ran.randint(1, 6)
    n += 1
    box.append(num)
    # print(f"{n}번째:", num)

if cc == len(box):
    print(f"{cc}회 정상 진행 되었습니다.")
    print(f"주사위 눈금 1이 {box.count(1)}번 { ((box.count(1)/cc) * 100):0.2f}% 출현하였습니다.")
    print(f"주사위 눈금 2이 {box.count(2)}번 { ((box.count(2)/cc) * 100):0.2f}% 출현하였습니다.")
    print(f"주사위 눈금 3이 {box.count(3)}번 { ((box.count(3)/cc) * 100):0.2f}% 출현하였습니다.")
    print(f"주사위 눈금 4이 {box.count(4)}번 { ((box.count(4)/cc) * 100):0.2f}% 출현하였습니다.")
    print(f"주사위 눈금 5이 {box.count(5)}번 { ((box.count(5)/cc) * 100):0.2f}% 출현하였습니다.")
    print(f"주사위 눈금 6이 {box.count(6)}번 { ((box.count(6)/cc) * 100):0.2f}% 출현하였습니다.")
else:
    print(f"검증 결과가 이상이 있습니다. {cc}회 목표로 동작하였으나, {len(box)}으로 측정되었습니다.")

몇회 주사위를 던질까요? 12

12회 정상 진행 되었습니다.
주사위 눈금 1이 1번 8.33% 출현하였습니다.
주사위 눈금 2이 2번 16.67% 출현하였습니다.
주사위 눈금 3이 2번 16.67% 출현하였습니다.
주사위 눈금 4이 3번 25.00% 출현하였습니다.
주사위 눈금 5이 3번 25.00% 출현하였습니다.
주사위 눈금 6이 1번 8.33% 출현하였습니다.

In [8]:
# 로또 번호
# 1 ~ 45임의의 수 중에서 중복 없는 6개의 수를 뽑아 나열하여 분석하시오.

import random as ran 
lotto = [] # 로또 번호 저장할 리스트 
n = 0 # 뽑은 횟수 카운트 

# 중복 없는 6개 번호 뽑기 
while n < 6: 
    num = ran.randint(1, 45) 
    if num not in lotto: # 중복 체크 
        lotto.append(num) 
        n += 1 
        
print("이번 로또 번호:", lotto)

이번 로또 번호: [28, 16, 29, 31, 42, 33]

In [16]:
import random as ran

# 출현 횟수를 저장할 리스트 (1~45)
count = [0] * 46  # 인덱스 0은 사용하지 않음

draws = 2000 # 반복 횟수
i = 0         # 전체 추첨 횟수 카운트

while i < draws:
    lotto = []  # 로또 번호 저장할 리스트
    n = 0       # 뽑은 횟수 카운트

    # 중복 없는 6개 번호 뽑기
    while n < 6:
        num = ran.randint(1, 45)
        if num not in lotto:  # 중복 체크
            lotto.append(num)
            n += 1
            count[num] += 1   # 출현 횟수 기록
    i += 1

# 가장 많이 출현한 숫자 찾기
max_count = max(count)
most_common_nums = []

j = 1
while j <= 45:
    if count[j] == max_count:
        most_common_nums.append(j)
    j += 1
print(lotto)
print(f"총 {draws}회 추첨 결과")
print("가장 많이 출현한 숫자:", most_common_nums)
print(f"출현 횟수: {max_count}회")

[40, 13, 4, 10, 5, 20]
총 2000회 추첨 결과
가장 많이 출현한 숫자: [18]
출현 횟수: 294회

## for 문 **

In [17]:
list_1 = ["orange", "banana", "kiwi", "melon"]

for i in list_1:
    print(i, "입니다")

orange 입니다
banana 입니다
kiwi 입니다
melon 입니다

In [19]:
# 문자 순회
st = "안녕하세요."
for s in st:
    print(s)

안
녕
하
세
요
.

In [20]:
arr = [(1, 2), (3, 4), (5, 6)]
# a, b = 1, 2
for (a, b) in arr:
    print(a + b)

3
7
11

In [39]:
# 순회 예제
marks = [90, 25, 67, 45, 80, 77]
num = 0
for m in marks:
    num += 1
    if m >= 60:
        print( "{0}번 학생은 {1}점으로 합격입니다.".format(num, m) )
    else:
        pass
        # print( "{0}번 학생은 {1}점으로 불합격입니다.".format(num, m) )

1번 학생은 90점으로 합격입니다.
3번 학생은 67점으로 합격입니다.
5번 학생은 80점으로 합격입니다.
6번 학생은 77점으로 합격입니다.

In [38]:
marks = [90, 25, 67, 45, 80, 77]
num = 0

for m in marks:
    num += 1
    if m < 60:
        continue
    print("%d번 학생 축하합니다. %d점으로 합격입니다." %(num, m))

1번 학생 축하합니다. 90점으로 합격입니다.
3번 학생 축하합니다. 67점으로 합격입니다.
5번 학생 축하합니다. 80점으로 합격입니다.
6번 학생 축하합니다. 77점으로 합격입니다.

In [42]:
# range

a = range(0, 10, 1)
print(a)

range(0, 10)

In [44]:
for i in range(20, 0 ,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [60]:
# for, range를 사용하여
# 1. 다음 요소가 담긴 리스트 생성 [3, 4, 5, 6, 7, 8, 9, 10, 11]
list = []
for i in range(3, 12):
    list.append(i)
print(list)
# 2. [1, 4, 7, 10, 13]이 담긴 리스트 생성
list1 = []
for j in range(1, 14, 3):
    list1.append(j)
print(list1)

# 3. 0부터 50까지 짝수값만 담긴 리스트 생성
list2 = []
for k in range(0, 51, 2):
    list2.append(k)
print(list2)

# 4. 1부터 10까지 모두 더 한값은?
total = 0
for i in range(1, 11):
    total += i
    
print(total)

sums = 0
for i in range(1, 101):
    sums = sums + 1
print(sums)

[3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 4, 7, 10, 13]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
55
100

In [ ]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number + 1))

In [85]:
# 문제 1 2단만
print("=" * 12)
print(f"{"2단":^10}")
print("=" * 12)
for i in range(1,10):
    print(f"2 X {i} = {2 * i}")
print("=" *12)

============
    2단
============
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
============

In [74]:
# 문제 2 2 ~ 9단까지
for i in range(2, 10):
    print(f"=== {i}단 ===")
    for j in range(1, 10):
        print(f"{i} X {j} = {i * j}")
    print(f"===========")

=== 2단 ===
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
===========
=== 3단 ===
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
===========
=== 4단 ===
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
===========
=== 5단 ===
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
===========
=== 6단 ===
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
===========
=== 7단 ===
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
===========
=== 8단 ===
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
===========
=== 9단 ===
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
===========

### 리스트 컴프리헨션 사용하기

In [88]:
a = [1, 2, 3, 4]
b = []      # [1, 4, 9, 16]
for x in a:
    b.append(x**2)
print(b)

[1, 4, 9, 16]

In [89]:
b = [x**2 for x in a]
print(b)

[1, 4, 9, 16]

In [90]:
c = [x+5 for x in a]
print(c)

[6, 7, 8, 9]

In [91]:
print([r + 1 for r in range(0, 20)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [99]:
a = [ int(((r * 3) / 2)* 1.5) for r in range(0, 100)]
b = [x for x in a if x % 2 == 0] 
c = [x for x in a if x % 2 == 1]

print("전체 리스트 a:", a) 
print("짝수 리스트 b:", b) 
print("홀수 리스트 c:", c)

전체 리스트 a: [0, 2, 4, 6, 9, 11, 13, 15, 18, 20, 22, 24, 27, 29, 31, 33, 36, 38, 40, 42, 45, 47, 49, 51, 54, 56, 58, 60, 63, 65, 67, 69, 72, 74, 76, 78, 81, 83, 85, 87, 90, 92, 94, 96, 99, 101, 103, 105, 108, 110, 112, 114, 117, 119, 121, 123, 126, 128, 130, 132, 135, 137, 139, 141, 144, 146, 148, 150, 153, 155, 157, 159, 162, 164, 166, 168, 171, 173, 175, 177, 180, 182, 184, 186, 189, 191, 193, 195, 198, 200, 202, 204, 207, 209, 211, 213, 216, 218, 220, 222]
짝수 리스트 b: [0, 2, 4, 6, 18, 20, 22, 24, 36, 38, 40, 42, 54, 56, 58, 60, 72, 74, 76, 78, 90, 92, 94, 96, 108, 110, 112, 114, 126, 128, 130, 132, 144, 146, 148, 150, 162, 164, 166, 168, 180, 182, 184, 186, 198, 200, 202, 204, 216, 218, 220, 222]
홀수 리스트 c: [9, 11, 13, 15, 27, 29, 31, 33, 45, 47, 49, 51, 63, 65, 67, 69, 81, 83, 85, 87, 99, 101, 103, 105, 117, 119, 121, 123, 135, 137, 139, 141, 153, 155, 157, 159, 171, 173, 175, 177, 189, 191, 193, 195, 207, 209, 211, 213]

In [100]:
# 구구단을 리스트 컴프리헨션으로 만들어라.
# 구구단 (2단 ~ 9단)
gugudan = [f"{i} x {j} = {i*j}" for i in range(2, 10) for j in range(1, 10)]

print(gugudan, len(gugudan))

['2 x 1 = 2', '2 x 2 = 4', '2 x 3 = 6', '2 x 4 = 8', '2 x 5 = 10', '2 x 6 = 12', '2 x 7 = 14', '2 x 8 = 16', '2 x 9 = 18', '3 x 1 = 3', '3 x 2 = 6', '3 x 3 = 9', '3 x 4 = 12', '3 x 5 = 15', '3 x 6 = 18', '3 x 7 = 21', '3 x 8 = 24', '3 x 9 = 27', '4 x 1 = 4', '4 x 2 = 8', '4 x 3 = 12', '4 x 4 = 16', '4 x 5 = 20', '4 x 6 = 24', '4 x 7 = 28', '4 x 8 = 32', '4 x 9 = 36', '5 x 1 = 5', '5 x 2 = 10', '5 x 3 = 15', '5 x 4 = 20', '5 x 5 = 25', '5 x 6 = 30', '5 x 7 = 35', '5 x 8 = 40', '5 x 9 = 45', '6 x 1 = 6', '6 x 2 = 12', '6 x 3 = 18', '6 x 4 = 24', '6 x 5 = 30', '6 x 6 = 36', '6 x 7 = 42', '6 x 8 = 48', '6 x 9 = 54', '7 x 1 = 7', '7 x 2 = 14', '7 x 3 = 21', '7 x 4 = 28', '7 x 5 = 35', '7 x 6 = 42', '7 x 7 = 49', '7 x 8 = 56', '7 x 9 = 63', '8 x 1 = 8', '8 x 2 = 16', '8 x 3 = 24', '8 x 4 = 32', '8 x 5 = 40', '8 x 6 = 48', '8 x 7 = 56', '8 x 8 = 64', '8 x 9 = 72', '9 x 1 = 9', '9 x 2 = 18', '9 x 3 = 27', '9 x 4 = 36', '9 x 5 = 45', '9 x 6 = 54', '9 x 7 = 63', '9 x 8 = 72', '9 x 9 = 81'] 72

In [ ]:
for i in range(10):
    if i == 6:
        break
    print(i)
else:
    print("for")

### enumerate 함수 활용하기

In [101]:
arr = [11, 22, 33, 44, 55]
for i, a in enumerate(arr, 1):
    print(i, '번째', a)

1 번째 11
2 번째 22
3 번째 33
4 번째 44
5 번째 55

### zip 함수로 여러 리스트 함께 순회하기

In [104]:
names = ['홍길동', '김철수', '이영희']
korean = [85, 92, 78]
english = [90, 88, 95]
for name, kor, eng in zip(names, korean, english):
    print(f"{name}: 국어 {kor}점, 영어 {eng}점")

홍길동: 국어 85점, 영어 90점
김철수: 국어 92점, 영어 88점
이영희: 국어 78점, 영어 95점

In [103]:
names = ['홍길동', '김철수', '이영희', '이순신']
scores = [95, 92, 78, 99]
grade = ["합격" if x > 85 else "불합격" for x in scores]
# grade = ["합격" for x in scores if x > 85]

for x, y, z in zip(names, scores, grade):
    print(f"{x}님은 {y}점이므로 {z}입니다.")

홍길동님은 95점이므로 합격입니다.
김철수님은 92점이므로 합격입니다.
이영희님은 78점이므로 불합격입니다.
이순신님은 99점이므로 합격입니다.

In [105]:
# 01 다음 코드의 결괏값은 무엇일까?
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

In [106]:
# 02
result = 0
i = 1
while i <= 1000:
    if (i % 3 == 0):
        result += i
    i += 1
print(result)

166833

In [107]:
# 03 
i = 0
while True:
    i += 1
    if i > 5 : break
    print('*' * i)

*
**
***
****
*****

In [108]:
# 04
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [109]:
# 05
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for score in A:
    total += score
average = total / len(A)
print(average)

79.0

In [110]:
# 06
numbers = [1, 2, 3, 4, 5]
result = [n * 2 for n in numbers if n % 2 == 1]
print(result)

[2, 6, 10]

In [111]:
# 달력
import calendar
c = calendar.TextCalendar(calendar.SUNDAY)
print(c.formatmonth(2026,2))

   February 2026
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28

In [13]:
# 하드코딩, 프로그래스 시각화
import time as tt
for x in range(11):
    print(f"{("■")*x:□<10} {(x)*10}%", end="\r")
    tt.sleep(1)

■■■■■■■■■■ 100%

In [8]:
# !pip install tqdm

In [12]:
# tqdm 프로그래스 시각화
from tqdm import tqdm
import time as tt
for x in tqdm(range(100)):
    a = 1
    tt.sleep(0.1)

100%|███████████████████████████████████████████████████████████████████████| 100/100 [00:08<00:00, 11.49it/s]

In [1]:
import time as tt
arr = []
length = 100*1000*1000
for x in range(length):
    arr.append(x)
arr_T = tuple(arr)
print(type(arr))
print(type(arr_T))

<class 'list'>
<class 'tuple'>

In [4]:
start = tt.time()
for a in arr:
    lts = [1, 2, 3, 4, 5]
else:
    print(tt.time() - start)

6.306321144104004

In [5]:
start2 = tt.time()
for a in arr_T:
    sample = (1, 2, 3, 4, 5)
else:
    print(tt.time() - start2)

2.836106538772583